[Initialization Exception]An assignment failed. The right operand does not satisfy type assignability.

100 is invalid. a100 is OK.

```
    $REASONS_H = Hash->new({
      100 => "Continue",
      101 => "Switching Protocols",
      102 => "Processing",                         # RFC 2518 (WebDAV)
      103 => "Early Hints",                        # RFC 8297
      200 => "OK",
      201 => "Created",
      202 => "Accepted",
      203 => "Non-Authoritative Information",
      204 => "No Content",
      205 => "Reset Content",
      206 => "Partial Content",
      207 => "Multi-Status",                       # RFC 2518 (WebDAV)
      208 => "Already Reported",                   # RFC 5842
      226 => "IM Used",                            # RFC 3229
      300 => "Multiple Choices",
      301 => "Moved Permanently",
      302 => "Found",
      303 => "See Other",
      304 => "Not Modified",
      305 => "Use Proxy",
      307 => "Temporary Redirect",
      308 => "Permanent Redirect",                 # RFC 7538
      400 => "Bad Request",
      401 => "Unauthorized",
      402 => "Payment Required",
      403 => "Forbidden",
      404 => "Not Found",
      405 => "Method Not Allowed",
      406 => "Not Acceptable",
      407 => "Proxy Authentication Required",
      408 => "Request Timeout",
      409 => "Conflict",
      410 => "Gone",
      411 => "Length Required",
      412 => "Precondition Failed",
      413 => "Request Entity Too Large",
      414 => "Request-URI Too Long",
      415 => "Unsupported Media Type",
      416 => "Request Range Not Satisfiable",
      417 => "Expectation Failed",
      418 => "I'm a teapot",                       # RFC 2324 :)
      421 => "Misdirected Request",                # RFC 7540
      422 => "Unprocessable Entity",               # RFC 2518 (WebDAV)
      423 => "Locked",                             # RFC 2518 (WebDAV)
      424 => "Failed Dependency",                  # RFC 2518 (WebDAV)
      425 => "Too Early",                          # RFC 8470
      426 => "Upgrade Required",                   # RFC 2817
      428 => "Precondition Required",              # RFC 6585
      429 => "Too Many Requests",                  # RFC 6585
      431 => "Request Header Fields Too Large",    # RFC 6585
      451 => "Unavailable For Legal Reasons",      # RFC 7725
      500 => "Internal Server Error",
      501 => "Not Implemented",
      502 => "Bad Gateway",
      503 => "Service Unavailable",
      504 => "Gateway Timeout",
      505 => "HTTP Version Not Supported",
      506 => "Variant Also Negotiates",            # RFC 2295
      507 => "Insufficient Storage",               # RFC 2518 (WebDAV)
      508 => "Loop Detected",                      # RFC 5842
      509 => "Bandwidth Limit Exceeded",           # Unofficial
      510 => "Not Extended",                       # RFC 2774
      511 => "Network Authentication Required"     # RFC 6585
    });
```


This is difficult to sovle.

In this case, please use

```
      my $hash = Hash->new([(string)
        100 => "a",
        200 => "b",
      ]);
```